/* Control Panel */
@import url('controlPanel/display.css');

.control-panel-content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    overflow: auto;
    padding: 8px;
    background-color: white;
}

.control-panel-icon {
    width: 80px;
    height: 75px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.control-panel-icon img {
    width: 32px;
    height: 32px;
    margin-bottom: 4px;
}

.control-panel-icon span {
    color: black;
    text-align: center;
    font-size: 11px;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1px 2px;
}

.control-panel-icon.selected span {
    background-color: #000080;
    color: white;
}
